.body_itemtextarea {
    float: left;
    margin-left: 2px;
}
.body_article {
	padding:3px 5px;
	min-height:105px;
	clear:both;
}
.body_article img, .body_article a, .body_article p, .body_article span {
	float:left;
}
.body_article a, .body_article p, .body_article span {
	display:block;
}
.body_article img {
	border:1px solid #ccc;
}
.body_smalltext {
    display: block;
    clear: left;
}
